<div class="jumbotron"></br>
  <div class="container">

  <div class="col-md-10 col-md-offset-0">
  
<h2>Hi <%= @user.username %>. </h2>
<h2>Welcome To <em>Blog Application.</em></h2>
  
<p>
  <h4>
  <strong>Username:</strong>
  <%= @user.username %>

 

  <strong>Email:</strong>
  <%= @user.email %>
</h4>
</p>

<a class="btn btn-primary btn-sm" href="<%= articles_path %>" role="button">Go To Blogs</a>
	


</div>
</div>
</div>
</div>
