<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    
     <ul class="nav navbar-nav navbar-right">
        
        <li><a href="#">Copyright 2014</a></li>
        
      </ul>
  </div>
</nav>